<!-- MARIANA -->
    <div class="container my-5">
        <hr style="height:1px;border-width:0;color:gray;background-color:gray;margin-top:59px;margin-bottom:60px">
        <p class="fw-bolder fs-2 text">Portfolio</p>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="assets/img/big-project-image.png" alt="Project Image" class="img-fluid">
                <p class="fw-bolder fs-5 text text-primary mt-3">Project Name</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="assets/img/big-project-image.png" alt="Project Image" class="img-fluid">
                <p class="fw-bolder fs-5 text text-primary mt-3">Project Name</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="assets/img/big-project-image.png" alt="Project Image" class="img-fluid">
                <p class="fw-bolder fs-5 text text-primary mt-3">Project Name</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <hr style="height:1px;border-width:0;color:gray;background-color:gray;margin-top:50px;margin-bottom:60px">
         </div>
        </div>
    </div>